<form class="container" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="mt-8">
        <h2 class="text-center">Add Status</h2>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput required type="input" formControlName="name" />
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-form-field>
                    <mat-label>Info</mat-label>
                    <input matInput required type="input" formControlName="info" />
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <button [disabled]="formGroup.invalid" mat-raised-button color="primary" type="submit">Add</button>
            </div>
            <h3 *ngIf="isPositiveResponse > 0">Positive Response</h3>
            <h3 *ngIf="isPositiveResponse < 0">Negative Response</h3>
        </div>
    </div>
</form>
